<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hash game</title>
</head>

<body>
    <main>
        <h1>Hash game</h1>
        <div id="app">
            <p v-if="game">
                <strong>{{game._player1._name}}</strong>
                    vs
                <strong>{{game._player2._name}}</strong>
            </p>
            <p>{{message}}</p>
            <div class="register" v-if="!game && !blockRegister">
                <input type="text" v-model="playerName" placeholder="Insert your name please">
                <button @click="startGame()" class="btn">Play</button>
            </div>
        </div>
    </main>



    <script src="/vendor/socket.io/socket.io.js"></script>
    <script src="/vendor/vue/dist/vue.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>